// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap");
// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #0d1111;
$white-color: #fff;
$grey-color: #9da6a5;
$dark-grey-color: #767e7e;
$blue-color: #1ebfc1;

// font body
$font-body: "Open Sans", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 800;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-300: 0.3s;
$transition-400: 0.4s;

// line-height
$leading-title: 1.5;
$leading-text: 1.67;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

button,
input {
  font-family: $font-body;
  font-weight: $font-reguler;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.container {
  max-width: 1024px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
  gap: 2rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 5rem 0;

  &-subtitle,
  &-title {
    text-align: center;
  }

  &-subtitle {
    display: block;
    font-size: 15px;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $dark-grey-color;
    margin-bottom: 10px;
  }

  &-title {
    font-size: 24px;
    font-weight: $font-bold;
    color: $black-color;
  }
}

.button {
  font-size: 15px;
  font-weight: $font-medium;

  &-fill,
  &-border {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    transition: $transition-400;
  }

  &-fill {
    color: $white-color;
    background-color: $blue-color;
    box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.1);

    &:hover {
      background-color: #1bb5b8;
      box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &-border {
    border: 1.5px solid $blue-color;
    color: $blue-color;

    &:hover {
      color: $white-color;
      background-color: $blue-color;
      box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &-link {
    display: inline-flex;
    color: $blue-color;
    text-decoration: underline;
  }
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: $font-bold;
    font-style: italic;
    color: $black-color;

    &-icon {
      width: 35px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      display: grid;
      gap: 1.5rem;
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: #fafafa;
      border-radius: 1.5rem;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
      transition: $transition-400;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $margin-1-5;
  }

  &__link {
    font-size: 15px;
    color: $dark-grey-color;

    &.active-link {
      position: relative;
      font-weight: $font-medium;
      color: $black-color;

      &::before {
        position: absolute;
        content: "";
        top: 1.6rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 5px;
        height: 5px;
        background-color: $black-color;
        border-radius: 50%;
      }
    }
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // Show Header Menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding: 8rem 0 5rem;

  &__container {
    gap: 3rem;
  }

  &__subtitle {
    display: inline-flex;
    font-size: 15px;
    font-weight: $font-semibold;
    color: $blue-color;
    padding: 0.5rem 1rem;
    background-color: rgba($color: #1ebfc1, $alpha: 0.08);
    border-radius: 5rem;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 46px;
    font-weight: $font-bold;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: $margin-2;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;

    &-play {
      display: inline-flex;
      font-size: 2.3rem;
      color: $blue-color;
      padding: 0.5rem;
      border-radius: 50%;
      transition: $transition-400;
      box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.1);

      &:hover {
        box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
}

// ===== FEATURES SECTION =====
.features {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &__group {
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.7fr));
    justify-content: center;
  }

  &__item {
    display: grid;
    padding: 1rem;
    gap: 1rem;

    &-icon {
      width: 100px;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== COURSES SECTION =====
.courses {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
  }

  &__group {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
  }

  &__item {
    overflow: hidden;
    border-radius: 1rem;
    transition: $transition-400;
    box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;

    &:hover {
      box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.2);

      .courses__item-img {
        transform: scale(1.1);
      }
    }

    &-overlay {
      height: 330px;
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
      transition: $transition-400;
    }

    &-data {
      padding: 2rem 1.5rem;
      background-color: $white-color;
      border-radius: 1rem;
    }

    &-title {
      font-size: 22px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-price {
      font-size: 20px;
      color: $black-color;
      margin-bottom: 8px;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
    }

    &-wrapper {
      display: inline-flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: $margin-1;
    }

    &-info {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }

    &-circle {
      width: 6px;
      height: 6px;
      background-color: $blue-color;
      border-radius: 50%;
    }
  }

  &__button {
    display: inline-flex;
    justify-self: center;
  }
}

// ===== COUNTDOWN SECTION =====
.countdown {
  &__group {
    grid-template-columns: 0.5fr;
    justify-content: center;
    gap: 3rem;
  }

  &__item {
    text-align: center;
  }

  &__title {
    font-size: 46px;
    font-weight: $font-bold;
    color: $black-color;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
  }
}

// ===== HANDBOOK SECTION =====
.handbook {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: 2rem;
  }

  &__button {
    display: inline-flex;
    justify-self: center;
  }
}

// ===== NEWSLETTER SECTION =====
.newsletter {
  background-color: $blue-color;

  &__container {
    text-align: center;
  }

  &__title,
  &__text {
    color: $white-color;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__direction {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &-input {
      display: flex;
      align-items: center;
      padding: 1rem;
      background-color: $white-color;
      border-radius: 0.8rem;
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;
      text-align: center;

      &::placeholder {
        font-size: 15px;
        font-weight: $font-semibold;
        color: $grey-color;
      }
    }

    &-button {
      background-color: $black-color;
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 5rem 0 3rem;

  &__container {
    gap: 5rem;
  }

  &__group {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  &__item {
    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 15px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-link {
      font-size: 15px;
      color: $grey-color;

      &:hover {
        color: $blue-color;
        text-decoration: underline;
      }
    }
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &__copy {
    text-align: center;
    font-size: 15px;
    color: $grey-color;
    font-weight: $font-medium;
    border-top: 1.5px solid rgba($color: #000000, $alpha: 0.1);
    padding-top: 3rem;
  }
}
